@model IEnumerable<eSkool.Models.Student>


@{
    ViewBag.Title = "Show Students";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>


    #teachers {
        margin-top: 5%;
        background-color: #f6eff5;
        text-align: center;
        padding: 5px;
        padding-bottom: 2%
    }

    table, th, td {
        text-align: center;
        margin: auto;
        border: 1px solid #f6eff5;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px 30px;
        background-color: #338da13d;
        color: #267385;
    }



    th {
        background-color: #338da1;
        color: #f6eff5;
    }

    #attendance-sheet h1 {
        color: #ffffff;
        text-shadow: 2px 2px #954587;
    }

    #attendance-sheet h3 {
        color: #75b1c6;
        text-shadow: 1px -1px #ffffff;
    }
</style>


<div class="form-group">
    <form action="/admin/showStudents" method="post">

        <div class="form-row">
            <div  class="form-group col-md-3">
                <label><b>Class Grade</b> </label>
                <select name="ClassGrade" class="custom-select custom-select-lg"  required>
                    <option disabled selected>--Class @ViewBag.classGrade</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label><b>Class Name</b></label>
                <select name="ClassName" class="custom-select custom-select-lg" required>
                    <option disabled selected>--Class @ViewBag.className</option>
                    <option>9th</option>
                    <option>Pre-9th</option>
                    <option>9th-special section</option>
                </select>
            </div>

        <div class="form-group col-md-3">            
            <input type="submit" class="btn btn-dark" value="Search Now" style="margin-left:50px;margin-top:33px;width:60%" >
        </div>
        </div>
    </form>

</div>

<p class="float-right">
    <a href="/admin/addStudent" class="btn btn-outline-primary">Add Student</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassGrade)
                /@Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RollNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentCnic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>

            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            foreach (var student in Model)
            {
            <tr>
                <td>@student.StudentName</td>
                <td>@student.FatherName</td>
                <td>@student.ClassGrade/@student.ClassName</td>
                <td>@student.RollNumber</td>
                <td>@student.ContactNumber1</td>
                <td>@student.StudentCnic</td>
                <td>@student.StudentId</td>
                <td>
                    <a href="#" class="btn btn-success">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </td>
            </tr>
                }
            }
    </tbody>
</table>
