@model IEnumerable<eSkool.Models.Teacher>

@{
    ViewData["Title"] = "showTeachers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>


    #teachers {
        margin-top: 5%;
        background-color: #f6eff5;
        text-align: center;
        padding: 5px;
        padding-bottom: 2%
    }

    table, th, td {
        text-align: center;
        margin: auto;
        border: 1px solid #f6eff5;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px 30px;
        background-color: #338da13d;
        color: #267385;
    }



    th {
        background-color: #338da1;
        color: #f6eff5;
    }

    #attendance-sheet h1 {
        color: #ffffff;
        text-shadow: 2px 2px #954587;
    }

    #attendance-sheet h3 {
        color: #75b1c6;
        text-shadow: 1px -1px #ffffff;
    }
</style>

<p class="float-right">
    <a href="/admin/addTeacher" class="btn btn-outline-primary">Add Teacher</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherCnic)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Education)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            foreach (var teacher in Model)
            {
                <tr>
                    <td>@teacher.TeacherName</td>
                    <td>@teacher.TeacherCnic</td>
                    <td>@teacher.Designation</td>
                    <td>@teacher.Salary</td>
                    <td>@teacher.Education</td>
                    <td>@teacher.TeacherId.</td>
                    <td>
                    <a href="#" class="btn btn-success">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
          }
    </tbody>
            
</table>
